<!DOCTYPE html>
{% extends 'open/base.html' %}
{% block body_block %}
    <div class="body_font jumbotron">
    <h4>
        Thank you for visiting this page!<br>
        This is a story writing page where you can express yourself in any way you want.<br>
        Here you can also read other's stories and give review to their stories.<br>
        This page belongs to Priyanshu Rai who is pursuing Bachelor of technology in Instrumentation and Control Branch (2022) from Bharathi
        Vidyapeeth's College of Engineering located in New Delhi.
        This page is created using the following technologies:
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
            <li>Django</li>
            <li>Python</li>
            <li>Yabwe Medium Editor</li>
            <li>Codepan CSS Styles</li>
            <li>Google Fonts</li>
        </ul>
    </h4>
    <hr>
    <h4>Admin Detail:</h4>
    <p>Email: priyanshu220999@gmail.com</p>
    <p>Contact: 7001622380</p>
</div>




{% endblock %}